
%html
  %head
    %title Studium - Online Test Prep

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type: "text/javascript"></script>
    <![endif]-->

    = include_gon
    = stylesheet_link_tag "application",media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300"
    -#= stylesheet_link_tag "jquery.scroll"
    :javascript
      WEB_SOCKET_SUPPRESS_CROSS_DOMAIN_SWF_ERROR = true;
    = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
    = javascript_include_tag "application"
    :javascript
      var client = new Pusher("#{Studium::Application.config.pusher_key}")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33600563-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_include_tag "javascripts/jquery.countdown.min"
    = javascript_include_tag "javascripts/jquery.scroll"
    = javascript_include_tag "javascripts/jquery.tokeninput"
    = csrf_meta_tags

    %script{type: "text/javascript", src: "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}

    = yield(:head)


    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body{class: controller.controller_name}
    %div.navbar.navbar-fixed-top.navbar-inverse
      %div.navbar-inner.navbar-big
        %div.container
          %a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>".subnav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.mybrand{href: user_signed_in? ? "/dashboard":"/"}
            =image_tag("images/logo.png")
          %div.nav-collapse.subnav-collapse.navbar-icons
            %form.navbar-search.form-search
              = text_field_tag :user_name,"",{class: "search-friend search-query span3",placeholder: "Search",data: {autocomplete_source: search_friend_rooms_path}}
            %ul.nav.pull-right
              - if user_signed_in?

                %li
                  %a{"href" => "#" }
                    %i.icon-wrench.icon-white.modal-trigger

                %li.dropdown
                  %a.dropdown-toggle{"href" => "#", "data-toggle"=> "dropdown"}
                    %i.icon-globe.icon-white
                  %ul.dropdown-menu.mydropdown-nav#dropdown-requests
                    = render partial: "friendships/pending_requests",locals: {requesters: current_user.requesters}
                %li.dropdown
                  %a.dropdown-toggle.message-dropdown{"href" => "#", "data-toggle"=> "dropdown"}
                    %i.icon-comment.icon-white{class: @unread_message ? "message-white" : "" }
                  %ul.dropdown-menu.mydropdown-nav#dropdown-message
                    = render "messages/message_list"
                    %li= link_to "View all messages", messages_path

                %li.dropdown
                  %a.dropdown-toggle{"href" => "#", "data-toggle"=> "dropdown"}
                    %i.icon-user.icon-white
                  %ul.dropdown-menu.mydropdown-nav
                    %li
                      %a{id: "userboard", href: "/users/#{current_user.id}/profile"}
                        %div.row-fluid
                          %div.span3
                            %div.thumbnail
                              = image_tag(current_user.profile.image, :class => "profile-pic")
                          %div.span9
                            %div
                              %b=current_user.name
                            %small View my profile
                    %hr
                    %li= link_to "Sign out",destroy_user_session_path, method: :delete
                - if current_user and current_user.admin?
                  %li= link_to "Admin Page",admin_index_path

    %div.container-fluid
      %div.row-fluid.notice-alert
        -# Notifications
        - if notice
          %div.alert.alert-success
            %button.close{:"data-dismiss"=>"alert"} x
            %p= notice
        - if alert
          %div.alert.alert-error
            %button.close{:"data-dismiss"=>"alert"} x
            %p= alert
      %div.hide.fade.in#user-info-modal
        %div.modal-body 
          %ul.nav.nav-tabs
            %li
              %a{"href"=>"#badges", "data-toggle"=>"tab"} Badges
            %li
              %a{"href"=>"#stats", "data-toggle"=>"tab"} Stats
            %li
              %a{"href"=>"#notebook", "data-toggle"=>"tab"} Notebook
          %div.tab-content
            %div.tab-pane.fade#badges
              %h4 Badges progress
              %hr
              %div.badges-progress.row-fluid
                %div.first-half.span6
                  - count = Badge.all.count
                  - Badge.all[0..count/2-1].each do |b|
                    %div.row-fluid.badge-line
                      %a{"rel"=>"tooltip", "data-original-title"=>"#{b.description}"}
                        =image_tag b.image.url, "class"=>"badge-modal span2"
                      %div.progress.badge-progress-bar.span10
                        %div.bar
                %div.second-half.span6.row-fluid
                  - Badge.all[count/2..count].each do |b|
                    %div.row-fluid
                      %a{"rel"=>"tooltip", "data-original-title"=>"#{b.description}"}
                        =image_tag b.image.url, "class"=>"badge-modal span2"
                      %div.progress.badge-progress-bar.span10
                        %div.bar
            %div.tab-pane.fade#stats
              This is another test
            %div.tab-pane.fade#notebook
              This is notebook
      %div.row-fluid
        %div.mycontainer
          = yield
    %footer.footer
      %div.footer-container
        %p Copyright Studium.vn

